[submodule "Activite.Services.Infra"]
	path = Activite.Services.Infra
	url = https://github.com/qulad/Activite.Services.Infra.git
[submodule "Activite.Services.Index"]
	path = Activite.Services.Index
	url = https://github.com/qulad/Activite.Services.Index.git
[submodule "Activite.Services.Authorization.Gateway"]
	path = Activite.Services.Authorization.Gateway
	url = http://github.com/qulad/Activite.Services.Authorization.Gateway.git
[submodule "Activite.Services.Authorization.OAuth"]
	path = Activite.Services.Authorization.OAuth
	url = http://github.com/qulad/Activite.Services.Authorization.OAuth.git
[submodule "Activite.Services.Integration.Api"]
	path = Activite.Services.Integration.Api
	url = http://github.com/qulad/Activite.Services.Integration.Api.git
[submodule "Activite.Services.Mobile"]
	path = Activite.Services.Mobile
	url = http://github.com/qulad/Activite.Services.Mobile.git
[submodule "Activite.Services.Mobile.Locations"]
	path = Activite.Services.Mobile.Locations
	url = http://github.com/qulad/Activite.Services.Mobile.Locations.git
[submodule "Activite.Services.User.Api"]
	path = Activite.Services.User.Api
	url = http://github.com/qulad/Activite.Services.User.Api.git
[submodule "Activite.Services.User.Predictor"]
	path = Activite.Services.User.Predictor
	url = http://github.com/qulad/Activite.Services.User.Predictor.git
[submodule "Activite.Services.User.Scheduler"]
	path = Activite.Services.User.Scheduler
	url = http://github.com/qulad/Activite.Services.User.Scheduler.git
